<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>{{pageTitle}}</title>
        <link rel="stylesheet" href="http://localhost:3001/css/main.css" />
    </head>
    <body>
        <header class="main-header">
            <nav class="main-header__nav">
                <ul class="main-header__item-list">
                    <li class="main-header__item"><a href="/">Back to Game</a></li>
                </ul>
            </nav>
        </header>
        <main>
            {{{body}}}
        </main>
        <footer class="main-footer">
        </footer>
    </body>
</html>
