.game-board {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 400px;
    margin: 0 auto;
}

.game-board-row-0 {
    display: flex;
}

.game-board-row-1 {
    display: flex;
}

.game-board-row-2 {
    display: flex;
}

.game-board-row-3 {
    display: flex;
}

.game-board-row-4 {
    display: flex;
}

.game-board-row-5 {
    display: flex;
}

.game-board-row-6 {
    display: flex;
}

.game-board-cell {
    border-radius: 8px;
    width: 4rem;
    height: 4rem;
    border: 1px solid rgb(84, 84, 84);
    margin: 5px;
}

.grid {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 1rem;
    background-color: #f5f5f5;
  }
  
  .row {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  
  .cell {
    width: 50px;
    height: 50px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: rgb(136, 124, 138);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0.5rem;
    font-size: 1.2rem;
    font-weight: bold;
    transition: transform 0.6s;
    transform-style: preserve-3d;
  }
  
  .cell.absent {
    background-color: red;
    color: white;    
    transform: rotateY(360deg);
  }
  
  .cell.misplaced {
    background-color: yellow;
    color: black;
    transform: rotateY(360deg);
  }
  
  .cell.correct {
    background-color: green;
    color: white;
    transform: rotateY(360deg);
  }
